@tailwind base;
@tailwind components;
@tailwind utilities;

.text-outline {
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

/* body {
  border: 1px;
  border-color: black;
} */

/* .navbar {
  border: 2px solid black;
} */

/* .header {
  height: 500px;
  position: relative;
  z-index: 100;
}
.header .video-wrapper {
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.header video {
  position: absolute;
  height: auto;
  width: 100%;
  min-height: 100%;
}
audio,
canvas,
video {
  display: inline-block;
} */
